<h3>Blog</h3>
<div class="row">
  <div class="col l10">
    <p>Nossa atividade inicial e que cresce a cada dia sao os conteudos gratuitos direcionados a todos do blog e do Mundo</p>

    <p>Sao conteudos tecnicos e nao tecnicos em textos, videos, talks ao vivo e podcasts, criados para levar informacao para os develops</p>
  </div>

</div>
<p class="center-align"><a href="/" class="btn waves-effect center-align">Voltar</a></p>
